node_modules
examples

src

dist/src/**/*.test.js
dist/jest.config.js
dist/jest.setup.js

dist-types/jest.setup.d.ts
dist-types/jest.config.d.ts
dist-types/src/**/*.test.d.ts

.gitignore

jest.config.ts
jest.d.ts
jest.setup.ts

package-lock.json

tsconfig.json

.idea
.DS_Store
packages.cache.json
npm-debug.log