node_modules
examples

src
!dist/src
dist/src/**/*.test.js
dist/src/**/*.test.d.ts
dist/jest.config.d.ts
dist/jest.config.ts
dist/jest.setup.d.ts
dist/jest.setup.ts

.gitignore

jest.config.ts
jest.d.ts
jest.setup.ts

package-lock.json

tsconfig.json
